/*
 * overwrite default landing-page css
 */
body {
    font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}
.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../../images/intro-bg.jpg) no-repeat center center;
    background-size: cover;
}
.intro-message {
    position: relative;
    padding-top: 15%;
    padding-bottom: 10%;
}
.page-intro {
    position: relative;
    padding-top: 5%;
    padding-bottom: 0;
}
.dropdown-menu li {
    padding: 4px 0px;
}
.navbar {
    font-weight: 700;
}
.page-header {
    padding: 20px 0;
    border: 0;
}

/*
 * language select
 */
.bootstrap-select>.btn {
    margin-top: 8px;
    padding: 6px 15px 6px 10px;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 3px;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../../images/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

/*
 * Floating button to stop live edit
 */
.btnLiveEdit {
    position: fixed;
    right: 0px;
    top: 100px;
}

/*
 * Content editable styles
 */
[contenteditable=true]:hover, [contenteditable=true]:focus {
    outline: 1px dashed darkblue;
.text-stroke(0);
}

/*
 * overwrite the default navigation bar collapse trigger to 992
 */
@media (min-width: 768px) and (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    ul.intro-call-to-actions > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
}

@media (max-width: 767px) {
    th.collapse, td.collapse {
        display: none;
    }
}

@media (min-width: 768px) {
    th.collapse, td.collapse {
        display: table-cell;
    }
}